<h1>Listing thesis_proposals</h1>

<table>
  <tr>
  </tr>

<% @thesis_proposals.each do |thesis_proposal| %>
  <tr>
    <td><%= link_to 'Show', thesis_proposal %></td>
    <td><%= link_to 'Edit', edit_thesis_proposal_path(thesis_proposal) %></td>
    <td><%= link_to 'Destroy', thesis_proposal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New thesis_proposal', new_thesis_proposal_path %>