<h1>New thesis_proposal_comment</h1>

<% form_for(@thesis_proposal_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', thesis_proposal_comments_path %>